<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\..\Logs\nlog-app.log">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- file targets --><!--
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}"/>
    </target>-->

    <!-- database targets -->
    <!--<target name="database" xsi:type="Database" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
             connectionString="data source=.;initial catalog=printilicious;integrated security=false;persist security info=True;User ID=sa;Password=Passw0rd"
              commandText="INSERT INTO Logs(EventDateTime, EventLevel, UserName, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)">
      --><!-- parameters for the command --><!--
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@UserName" layout="${aspnet-user-identity}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${event-properties:item=error-source}" />
      <parameter name="@ErrorClass" layout="${event-properties:item=error-class}" />
      <parameter name="@ErrorMethod" layout="${event-properties:item=error-method}" />
      <parameter name="@ErrorMessage" layout="${event-properties:item=error-message}" />
      <parameter name="@InnerErrorMessage" layout="${event-properties:item=inner-error-message}" />
    </target>-->

    <!-- database targets -->
    <target xsi:type="Database" name="db-Details">
      <commandText>INSERT INTO [NLog_Error](TimeStamp,Level,Host,Type,Logger,Message,stackTrace)
        29.	VALUES(getutcdate(),@level,@host,@type,@logger,@message,@stacktrace)
      </commandText>

    </target>
    
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" minlevel="Debug" writeTo="asyncFile,database" />-->
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>
</nlog>
